# --- Core ---
flask==3.0.3
flask-cors==4.0.1
gunicorn==21.2.0
python-dotenv==1.0.1
requests==2.32.3

# --- Data ---
pandas==2.3.3
numpy==2.1.1


# --- ML (lightweight only) ---
scikit-learn==1.6.1
joblib==1.4.2

# --- NLP (light) ---
nltk==3.9.1
spacy==3.8.3